# Data Science Tools and Ecosystem

in this notebook we are going to review a summarization of the course Tools for data science

__Objectives:__
* record data science experiments 
* allow combining text, code blocks and code output in a single file 
* export the notebook to pdf or html file format

Some of the popular languages that Data Scientists use are:
1. python 
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. scikit learn
2. pandas
3. numpy

|Data Science Tools|
|----------------|
|Rstudio|
|Apache Spark|
|tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python.
1+1
5*3
19-8

In [13]:
 print("This a simple arithmetic expression to mutiply then add integers") 
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [16]:
print("This will convert 200 minutes to hours by diving by 60")
x=200
y=x/60
print(y)

This will convert 200 minutes to hours by diving by 60
3.3333333333333335

## Author
Mohammed Faroog